<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/public/images/css/styles.css">
  
    </head> 
   <body>
    <form action="appointment" method="post" >
  <div class="container">
    <div class="content">
      <div class="left-side">
        <div class="address details">
          <i class="fas fa-map-marker-alt"></i>
          <img src="/public/images/img.png" alt="doct picture" width="130" height="150">
          <div class="topic"><h1><b>Hello!</b></h1></div>
          <div class="text-one">This is Josh </div>
          <div class="text-two">Doctor's Assistant</div>
        </div>
        
        <div class="email details">
          <i class="fas fa-envelope"></i>
          <div class="topic">I'm here to collect your data </div>
          <div class="text-one">Just answer these question so i may count my wright doctor for the disease</div>
          
        </div>
      </div>
      <div class="right-side">
        <div class="topic-text">Book an Appointment</div>
        <p>We all face depression, anxiety, mental issues feel free to tell the doctor.</p>
      <form action="appointment" method="post">
        <div class="form-group">
   <input type="text"  name="patientname">
       </div>    
        <div class="form-group">
            <input type="text" name="age">
        </div>
        <div class="form-group">
        <input type="text" name="problems">
    </div>
    <div class="form-group">
        <input type="text" name="issues">
    </div>
        <div class="form-group">
            <input type="text" name="facingproblems">
        </div>
        <div class="button">
      <li>   <a href="/firstpage">click here</a></li>
        </div>
      </form>
    </div>
    </div>
  </div>
</body>
</html>
