<!-- <!DOCTYPE html>
<html>
<head>
    <title>MIND INSIGHT</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    <link rel="stylesheet" href="/public/images/css/style.css">
</head>
<body>
     <script type="text/javascript">

        var myLink = document.getElementById('mylink');

        window.onload = function () {
            console.log("Onclick")

            var script = document.createElement("script");
            script.type = "text/javascript";
            script.src = "/views/appointment.ejs.";
            document.getElementsByTagName("head")[0].appendChild(script);
            return false;
        }

        //  myLink.onclick = function(){
        //  };
    </script>
    
    <div class="hero">
        <nav>
            <img src="/public/images/logo.png" class="logo">

            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">About</a></li>
                <li><a href="">Therapist Jobs</a></li>
                <li><a href='/appointment'>Contact Us</a></li>
            </ul>
        </nav>
        <h1 class="title">MIND INSIGHT</h1>
        <div class="button">
            <a href="/login">LOGIN</a>
            <a href="/index">REGISTER</a>   
        </div>
    </div> -->




















    <!DOCTYPE html>
<html>
    <head>
    <title>MIND INSIGHT</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <link rel="stylesheet" href="/public/images/css/styless.css">
</head>
<body>
    <div class="site">
        <nav>
            <img src="/public/images/logo4.png" class="logo">

            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Therapist Jobs</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </nav>
        <h1 class="title">MIND INSIGHT</h1>
        <div class="button">  
            <a href="/login">LOGIN</a>
            <a href="/index">REGISTER</a>   
        </div>


        </div>
       

        
        <!--------------Things We Offer---------->
        
    <section class="things">
         <h1>Things We Offer</h1>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam quam eaque dolore magnam facilis. Quas ducimus beatae atque! Quis optio quam odio sequi laborum mollitia harum corporis magni aut rem.</p>
    
    <div class="t">
        <div class="things-c">
            <h3>Doctor</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.Lorem ipsum dolor sit amet consectetur adipisicing elit.Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>


        <div class="things-c">
            <h3>Medicine</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.Lorem ipsum dolor sit amet consectetur adipisicing elit.Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>


        <div class="things-c">
            <h3>Therapy</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.Lorem ipsum dolor sit amet consectetur adipisicing elit.Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
    </div>
</section>





<!----------Doctors------->


<section class="doctor">
    <h1>Our     Doctors</h1>
    <p>Doctors have a very noble profession. In addition, they are equipped with comprehensive knowledge and devices that enable them to diagnose and treat their patients with correct procedures.</p>
       <div class="t">
        <div class="doctor-d">
            <img src="/public/images/dc.jpg">
            <div class="layer">
                <h3>I'M DOCTOR ALISA</h3>
            </div>
        </div>



        <div class="doctor-d">
            <img src="/public/images/pp.jpg">
            <div class="layer">
                <h3>I'M DOCTOR JACK</h3>
            </div>
        </div>




        <div class="doctor-d">
            <img src="public/images/kk.jpg">
            <div class="layer">
                <h3>I'M DOCTOR HARRY</h3>
            </div>
        </div>
       </div>
</section>




<!--------We Treat--------->
<section class="facilities">
    <h1>Our facilities</h1>
    <p>We help people with depression and anxiety and personal issues by taking appointment we can easliy intereact with them and help them solving their problems.</p>
    <div class="t">
        <div class="facilities-f">
            <img src="public/images/ab.jpg">
            <h3>Anxiety</h3>
            <p>Anxiety disorders are a group of mental illnesses that cause constant and overwhelming anxiety and fear. The excessive anxiety can make you avoid work, school, family get-togethers, and other social situations that might trigger or worsen your symptoms.</p>
        </div>


        <div class="facilities-f">
            <img src="public/images/abc.jpg">
            <h3>Depression</h3>
            <p>Depression is one of the most common types of mental health conditions and often develops alongside anxiety.

                Depression can be mild and short-lived or severe and long-lasting. Some people are affected by depression only once, while others may experience it multiple times.
                
                 </p>
        </div>


        <div class="facilities-f">
            <img src="public/images/cd.jpg">
            <h3>Issues</h3>
            <p>any personal problem that affects a certain individual. Typical personal issues could relate, among others, to family, finance, addiction, disability or health.</p>
        </div>


    </div>
</section>



<!-------test--------------->


<section class="test">
    <h1>What Our Patient Says</h1>
    <p>We love that our patients feel inspired to write about the care they received here at Mind Insight! Here are some of the wonderful letters and comments we have recently received.</p>
    <div class="t">
        <div class="test-col">
            <img src="public/images/boy.jpg">
            <div>
                <p>“My Sessions are always good.”</p>
                <h3>HARRY BROOK</h3>
                
            </div>
        </div>
        <div class="test-col">
            <img src="public/images/girl.jpg">
            <div>
                <p>“I was very satisfied with everything.”</p>
                <h3>ALEXA</h3>
            </div>
        </div>
    </div>
</section>


<!-----call to action-->
<section class="cta">
    <h1>ENROLL FOR OUR VARIOUS ONLINE THERAPIES ANY WHERE FROM THE WORLD</h1>
    <a href="/appointment" class="hero-btn">CONTACT US</a>
</section>




<!---footer------->
<section class="footer">
    <h4>ABOUT US</h4>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit.</br> Iusto dolorem, commodi quisquam nemo nulla quo maiores modi ratione dignissimos illo quas dolorum dolor obcaecati, eligendi quidem quae suscipit laboriosam. Ipsum.
    </p>
</section>
</body>
</html>
